.barChart {
    align-items: center;
    background: #FBFBFB;
    border-radius: .3125rem;
    box-shadow: .25rem .125rem .25rem rgba(0, 0, 0, 0.0212249);
    display: flex;
    flex-direction: column;
    height: 320px;
    margin-bottom: 2rem;
    padding: 1.5rem 1.875rem;
}

.barChartHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.barChartHeader>h2 {
    color: #20253A;
    font-size: .9375rem;
    line-height: 1.5rem;
    margin-left: 2.5rem;
}

.barChartLegend {
    display: flex;
}

.fa-circle {
    font-size: .625rem;
    margin-right: .8rem;
}

.fa-circle.black {
    color: #000;
}

.fa-circle.red {
    color: #e60000;
}

.header-elt {
    align-items: center;
    color: #74798c;
    display: flex;
    font-weight: 500;
    margin-left: 1.875rem;
}

@media (min-width: 1024px) and (max-width: 1400px) {
    .barChart {
        height: 300px;
    }

    .barChartHeader {
        width: 90%;
    }

    .barChartHeader, .barChartHeader>h2 {
        font-size: 0.8rem;
        margin: 0;
    }
}
