.macroTracker {
    align-items: center;
    background: #FBFBFB;
    border-radius: .3125rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.0212249);
    display: flex;
    height: 7.75rem;
    justify-content: space-evenly;
    width: 16.125rem;
}

.macroTrackerContainerImgCalories {
    background-color: #FBECED;
}

.macroTrackerContainerImgCalories,
.macroTrackerContainerImgProtéines,
.macroTrackerContainerImgGlucides,
.macroTrackerContainerImgLipides {
    align-items: center;
    border-radius: .375rem;
    display: flex;
    height: 3.75rem;
    justify-content: center;
    width: 3.75rem;
}

.macroTrackerContainerImgGlucides {
    background-color: #FCF6E3;
}

.macroTrackerContainerImgLipides {
    background-color: #FFE9EF;
}

.macroTrackerContainerImgProtéines {
    background-color: #E6F5FC;
}

.macroTrackerQuantity {
    font-size: 1.25rem;
    font-weight: 700;
}

.macroTrackerType {
    color: #74798C;
    font-size: .875rem;
    font-weight: 500;
}

@media (min-width: 1024px) and (max-width: 1400px) {
    .macroTracker {
        height: 5.625rem;
        width: 11.25rem;
    }

    .macroTrackerContainerImgCalories,
    .macroTrackerContainerImgProtéines,
    .macroTrackerContainerImgGlucides,
    .macroTrackerContainerImgLipides {
        height: 2.5rem;
        width: 2.5rem;
    }

    .macroTrackerQuantity {
        font-size: .8rem;
    }

    .macroTrackerType {
        font-size: .7rem;
    }
}
