.linkHeader,
.linkProfil,
.linkReglages,
.linkCommunaute {
    color: #FFF;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1.5rem;
    list-style: none;
    text-decoration: none;
    transition: all ease-in 0.9ms;
}

.linkHeader:hover,
.linkProfil:hover,
.linkReglages:hover,
.linkCommunaute:hover {
    transform: scale(1.05);
    color: #e60000;
}

.mainNavBar {
    display: flex;
    justify-content: space-between;
    margin-left: 8rem;
    margin-right: 4rem;
    width: 100%;
}
