.performanceRadarChart {
    align-items: center;
    background-color: #282D30;
    border-radius: .3125rem;
    display: flex;
    height: 16.4375rem;
    text-align: center;
    width: 16.125rem;
}

@media (min-width: 1024px) and (max-width: 1400px) {
    .performanceRadarChart {
        height: 11rem;
        width: 11rem;
    }
}
